<div>
    重设密码</div>
<form #res="ngForm" (ngSubmit)="onSubmit(res.value)">
    <ul>
        <li>
            <label for="name">登录邮箱：</label>
            <input type="emaile" id="name" name="name" [(ngModel)]="res.name" />
        </li>
        <li>
            <label for="pass">新密码：</label>
            <input type="password" id="pass" name="pass" [(ngModel)]="res.pass" />
        </li>
        <li>
            <label for="passnew">重设新密码：</label>
            <input type="password" id="papassnewss" name="passnew" [(ngModel)]="res.passnew" />
        </li>

        <li>
            <button type="submit" [disabled]="!res.valid">确认</button>
        </li>
    </ul>
</form>